header {
  background-color: bisque;
  height: auto;
}

.brand {
  height: 40px;
  width: auto;
  margin-left: 150px;
  margin-right: 5px !important;
}
.cart .material-icons {
  font-size: xx-large;
}
ul li .more_list {
  list-style-type: none !important;
  display: none;
  padding: 0.16px;
}
ul li a {
  text-decoration: none;
}
.a:hover .more_list {
  display: block;
}
.a {
  position: relative;
}
.more_list {
  position: absolute;
  border-radius: 30px;
}
.a .more_list li:hover {
  background-color: antiquewhite;
}
.more_list li {
  width: auto;
  background-color: white;
  font-size: small;
  padding: 10px;
  width: 140px;
  text-align: left;
  color: darkslateblue;
}
.more_list li:hover {
  background-color: darkkhaki;
  padding: 5px;
}
.d-flex {
  margin-left: 0px;
}
.a,
.cart a {
  margin-left: 50px;
  color: white !important;
}
.more_list .material-icons {
  vertical-align: middle;
  color: lightslategray;
}
.more_list li a {
  color: black;
}
.justify-content-evenly a div {
  text-align: center;
}
.justify-content-evenly a {
  text-decoration: none;
  color: black;
  size: 14px;
  font-weight: 500;
}
.justify-content-evenly {
  padding-top: 10px;
  padding-bottom: 10px;
}
