header {
  height: auto;
}

.brand {
  height: 40px;
  width: 120px;
  margin-left: 100px;
  margin-right: 5px !important;
}
.cart .material-icons {
  font-size: xx-large;
}
ul li .more_list {
  list-style-type: none !important;
  display: none;
  padding: 0.16px;
  border-radius: 10px !important;
  position: absolute;
  z-index: 1;
}
ul li a {
  text-decoration: none;
}
.a:hover .more_list {
  display: block;
}
.a {
  position: relative;
}

.a .more_list li:hover {
  background-color: antiquewhite;
}
.more_list li {
  width: auto;
  background-color: white;
  font-size: small;
  padding: 10px;
  width: 150px;
  text-align: left;
  color: darkslateblue;
}
.more_list li:hover {
  background-color: darkkhaki;
  padding: 5px;
}
.d-flex {
  margin-left: 0px;
}
.a,
.cart a {
  margin-left: 50px;
  color: white !important;
}
.more_list .material-icons {
  vertical-align: middle;
  color: lightslategray;
}
.more_list li a {
  color: black;
}
.justify-content-evenly a div {
  text-align: center;
}
.justify-content-evenly a {
  text-decoration: none;
  color: black;
  size: 14px;
  font-weight: 500;
}
.justify-content-evenly {
  padding-top: 10px;
  padding-bottom: 10px;
}
.phones img {
  width: 80px !important;
  height: 150px;
  padding: 5px;
  margin: 50px;
}
.phones {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.left-span {
  margin: 20px !important;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}
#timer {
  color: red;
}

.right-span {
  float: right;
  padding: 5px;
  line-height: 32px;
  background: black;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  margin-right: 10px;
}
.electronics img {
  width: 100px !important;
  height: 100px;
  padding: 5px;
  margin: 50px;
}
.electronics {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.fashion img {
  width: 120px !important ;
  height: 150px;
  padding: 5px;
  margin: 50px;
}
.fashion {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.wrapper .owl-prev,
.wrapper .owl-next {
  position: absolute;
  top: 35%;
  font-size: 2.5rem !important;
  background-color: lightgray;
}
.wrapper .owl-prev {
  padding: 15px;
  left: 0;
  background: lightgray !important;
  opacity: 0.7;
  display: none;
}
.wrapper .owl-next {
  right: 0;
  padding: 15px;
  background: lightgray !important;
  opacity: 0.7;
  display: none;
}
.wrapper:hover .owl-prev,
.wrapper:hover .owl-next {
  display: block;
}
